---
export type ChangelogEntry = {
  id: string;
  date: string;
  description: string;
};

const changelogEntries: ChangelogEntry[] = [
  {
    id: 'entry-4',
    date: '2026-01-31',
    description: 'ドキュメントを更新しました',
  },
  {
    id: 'entry-3',
    date: '2025-08-26',
    description: 'データ構造を更新しました',
  },
  {
    id: 'entry-2',
    date: '2025-04-29',
    description: 'ドキュメントのレイアウトを調整しました',
  },
  {
    id: 'entry-1',
    date: '2025-02-22',
    description: 'APIの提供を開始しました',
  },
];
---

<ul class="mx-auto -mt-48 list-none md:mt-0">
  {
    changelogEntries.map((entry) => (
      <li class="border-border flex w-full items-baseline border-b py-4 text-sm last:border-0 lg:text-base">
        <time class="text-muted-foreground mr-4" datetime={entry.date}>
          {entry.date}
        </time>
        <p class="text-muted-foreground leading-loose">{entry.description}</p>
      </li>
    ))
  }
</ul>
