---
import NavItem from '../NavItem/index.astro';

export const navItems = [
  { title: 'Top', label: 'トップ', href: '/' },
  { title: 'Home', label: '概要', href: '#overview' },
  { title: 'API Reference', label: 'APIリファレンス', href: '#reference' },
  { title: 'Changelog', label: '変更履歴', href: '#changelog' },
];

interface Props {
  hideTop?: boolean;
}

const { hideTop = false } = Astro.props as Props;

const itemsToRender = hideTop
  ? navItems.filter((item) => item.title !== 'Top')
  : navItems;
---

<nav
  aria-label="Main Navigation"
  class="border-sm:py-1 hidden justify-between md:block"
>
  <ul class="flex list-none items-center md:ml-16 md:gap-6 lg:gap-8">
    {
      itemsToRender.map((item) => (
        <li>
          <NavItem {...item} />
        </li>
      ))
    }
  </ul>
</nav>
