---
import Layout from '@/layouts/Layout.astro';

import { Button } from '@/components/ui/button';
---

<Layout title="500 - Error" description="500 Error — internal server error">
  <div class="flex min-h-screen flex-col items-center justify-center">
    <p class="text-muted-foreground text-base lg:text-lg">500</p>
    <h1
      class="text-destructive scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
    >
      Internal Server Error
    </h1>
    <p class="mb-8 text-sm leading-7 not-first:mt-6 lg:text-base">
      サーバーでエラーが発生しました
    </p>
    <a href="/" rel="noreferrer">
      <Button variant="outline"> トップに戻る </Button>
    </a>
  </div>
</Layout>
