---
import Layout from '../layouts/Layout.astro';
---

<Layout title="句碑API" description="句碑の情報を提供するAPI">
  <section
    class="relative min-h-screen bg-[url('/src/assets/img/kuhi1.jpg')] bg-cover bg-top"
    style="clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);"
  >
    <div
      class="from-custom2/80 to-custom1/80 pointer-events-none absolute inset-0 bg-linear-to-br"
    >
    </div>

    <div
      class="absolute top-[40%] left-[50%] -translate-x-1/2 -translate-y-1/2 transform text-center"
    >
      <h1
        class="text-background text-4xl font-bold whitespace-nowrap sm:text-5xl md:text-6xl"
      >
        <span class="block">Haiku Monument API</span>
        <span class="block">Documentation</span>
        <span class="mt-2 block text-sm md:text-base">句碑APIドキュメント</span>
      </h1>
    </div>
  </section>
  <section class="min-h-screen" id="overview">
    <h2
      class="text-foreground mt-32 text-center text-5xl font-bold whitespace-nowrap md:text-6xl"
    >
      <span class="block">Overview</span>
      <span class="mt-2 block text-sm md:text-base">概要</span>
    </h2>
    <div
      class="my-24 grid grid-cols-2 place-items-center gap-y-32 px-4 md:my-32"
    >
      <img
        src={'/src/assets/img/kuhi2.jpg'}
        alt="句碑"
        class="h-xs md:h-sm w-xs rounded-lg shadow-lg md:w-sm"
      />
      <div class="ml-4">
        <p
          class="text-center text-3xl leading-16 font-semibold sm:text-start sm:text-4xl"
        >
          API
        </p>
        <p class="text-muted-foreground text-sm sm:text-base">
          句碑の情報を提供します。
        </p>
      </div>
      <div class="mr-4">
        <p
          class="text-center text-3xl leading-16 font-semibold sm:text-start sm:text-4xl"
        >
          MCP
        </p>
        <p class="text-muted-foreground text-sm sm:text-base">
          LLMから情報を取得できます。
        </p>
      </div>
      <img
        src={'/src/assets/img/kuhi3.jpg'}
        alt="句碑"
        class="h-xs md:h-sm w-xs rounded-lg shadow-lg md:w-sm"
      />
    </div>
  </section>
  <section
    class="relative min-h-screen bg-[url('/src/assets/img/kuhi1.jpg')] bg-cover bg-top"
    style="clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);"
  >
    <div
      class="from-custom2/80 to-custom1/80 pointer-events-none absolute inset-0 bg-linear-to-br"
    >
    </div>
  </section>
  <section class="min-h-screen"></section>
</Layout>
