---
import { ApiCarousel } from '@/components/ApiCarousel';
import { RdfCarousel } from '@/components/RdfCarousel';
import { ArrowRightIcon } from '@heroicons/react/24/outline';
import Layout from '../layouts/Layout.astro';
import ApiInfoList from '../components/ApiInfoList/index.astro';
import Changelog from '../components/Changelog/index.astro';
import { Image } from 'astro:assets';
import kuhi2 from '@/assets/img/kuhi2.webp';
import kuhi3 from '@/assets/img/kuhi3.webp';
import kuhi4 from '@/assets/img/kuhi4.webp';
---

<Layout title="句碑API" description="句碑の情報を提供するAPI">
  <section
    class="relative min-h-screen bg-[url('/src/assets/img/kuhi1.webp')] bg-cover bg-top"
    style="clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);"
  >
    <div
      class="from-custom2/80 to-custom1/80 pointer-events-none absolute inset-0 bg-linear-to-br"
    >
    </div>

    <div
      class="absolute top-[40%] left-[50%] -translate-x-1/2 -translate-y-1/2 transform text-center"
    >
      <h1
        class="text-background text-4xl font-bold whitespace-nowrap sm:text-5xl md:text-6xl 2xl:text-7xl"
      >
        <span class="block">Haiku Monument API</span>
        <span class="block">Documentation</span>
        <span class="mt-2 block text-sm md:text-base 2xl:text-lg"
          >句碑APIドキュメント</span
        >
      </h1>
    </div>
  </section>
  <section class="min-h-screen" id="overview">
    <h2
      class="text-foreground mt-32 text-center text-4xl font-bold whitespace-nowrap sm:text-5xl 2xl:text-6xl"
    >
      <span class="block">Overview</span>
      <span class="mt-2 block text-sm md:text-base 2xl:text-lg">概要</span>
    </h2>
    <div
      class="my-24 grid grid-cols-1 place-items-center gap-y-32 px-4 md:grid-cols-2"
    >
      <Image
        src={kuhi2}
        alt="句碑"
        class="h-xs md:h-sm hidden w-xs rounded-lg shadow-lg md:block md:w-sm"
      />
      <div class="ml-4">
        <p
          class="mb-4 text-center text-3xl leading-16 font-semibold md:text-start md:text-4xl 2xl:text-5xl"
        >
          Web API
        </p>
        <p
          class="text-muted-foreground text-center text-sm leading-10 sm:text-base md:text-start"
        >
          句碑の情報をRESTful APIとして提供しています
          <br />
          <a
            href="https://api.kuhi.jp/docs"
            class="hover:text-primary flex items-center justify-center underline-offset-4 hover:underline md:justify-start"
            target="_blank"
            rel="noopener noreferrer"
          >
            詳しくはこちら
            <ArrowRightIcon className="ml-2 size-4" />
          </a>
        </p>
      </div>
      <div class="mr-4">
        <p
          class="mb-4 text-center text-3xl leading-16 font-semibold md:text-start md:text-4xl 2xl:text-5xl"
        >
          Linked Open Data
        </p>
        <p
          class="text-muted-foreground text-center text-sm leading-10 sm:text-base md:text-start"
        >
          句碑の情報をLinked Open Dataで提供しています
          <br />
          <a
            href="https://data.kuhi.jp"
            class="hover:text-primary flex items-center justify-center underline-offset-4 hover:underline md:justify-start"
            target="_blank"
            rel="noopener noreferrer"
          >
            詳しくはこちら
            <ArrowRightIcon className="ml-2 size-4" />
          </a>
        </p>
      </div>
      <Image
        src={kuhi3}
        alt="句碑"
        class="h-xs md:h-sm 2xl:h-md hidden w-xs rounded-lg shadow-lg md:block md:w-sm 2xl:w-md"
      />
    </div>
    <div
      class="my-24 grid grid-cols-1 place-items-center gap-y-32 px-4 md:grid-cols-2"
    >
      <Image
        src={kuhi4}
        alt="句碑"
        class="h-xs md:h-sm hidden w-xs rounded-lg shadow-lg md:block md:w-sm"
      />
      <div class="ml-4">
        <p
          class="mb-4 text-center text-3xl leading-16 font-semibold md:text-start md:text-4xl 2xl:text-5xl"
        >
          MCP Server
        </p>
        <p
          class="text-muted-foreground text-center text-sm leading-10 sm:text-base md:text-start"
        >
          LLMから情報を取得できます
          <br />
          <a
            href="https://github.com/shikano35/kuhi-api-mcp-server"
            class="hover:text-primary flex items-center justify-center underline-offset-4 hover:underline md:justify-start"
            target="_blank"
            rel="noopener noreferrer"
          >
            詳しくはこちら
            <ArrowRightIcon className="ml-2 size-4" />
          </a>
        </p>
      </div>
    </div>
  </section>
  <section
    class="relative min-h-screen bg-[url('/src/assets/img/kuhi1.webp')] bg-cover bg-top"
    style="clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);"
  >
    <div
      class="from-custom2/80 to-custom1/80 pointer-events-none absolute inset-0 flex justify-center bg-linear-to-br"
    >
      <p
        class="text-background absolute top-[30%] left-[50%] flex -translate-x-1/2 -translate-y-1/2 transform flex-col space-y-2 text-center"
      >
        <span class="text-2xl font-semibold sm:text-3xl 2xl:text-4xl">
          提供情報
        </span>
        <span class="text-muted text-sm sm:text-base 2xl:text-lg">
          以下の情報を取得することができます
        </span>
      </p>
      <ApiInfoList />
    </div>
  </section>
  <section class="mb-16 min-h-screen" id="reference">
    <h2
      class="text-foreground mt-32 mb-16 px-4 text-start text-4xl font-bold whitespace-nowrap sm:text-5xl 2xl:text-6xl"
    >
      <span class="block">API Reference</span>
      <span class="mt-2 block text-sm md:text-base 2xl:text-lg"
        >APIリファレンス</span
      >
    </h2>
    <ApiCarousel client:load />
  </section>
  <section class="min-h-screen py-16" id="uri">
    <h2
      class="text-foreground mb-16 px-4 text-start text-4xl font-bold whitespace-nowrap sm:text-5xl 2xl:text-6xl"
    >
      <span class="block">URI</span>
      <span class="mt-2 block text-sm md:text-base 2xl:text-lg">
        RDFリソース
      </span>
    </h2>
    <RdfCarousel client:load />
  </section>
  <section
    class="grid min-h-screen grid-cols-1 place-items-center px-4 py-16 md:grid-cols-2 md:px-2 lg:px-16"
    id="changelog"
  >
    <h2
      class="text-foreground px-4 text-center text-4xl font-bold whitespace-nowrap md:text-5xl 2xl:text-6xl"
    >
      <span class="block">Changelog</span>
      <span class="mt-2 block text-sm md:text-base 2xl:text-lg">変更履歴</span>
    </h2>
    <Changelog />
  </section>
</Layout>
