---
import ThemeToggle from '../ThemeToggle/index.astro';
import '@fontsource/roboto-slab';
---

<header>
  <div class="relative z-50 flex justify-between p-4">
    <a
      href="/"
      class="flex items-center text-xl font-semibold"
      aria-label="ホームページ"
    >
      <span class="font-roboto-slab">HaikuMonument API</span>
    </a>
    <ThemeToggle />
  </div>
</header>
