---
import ThemeToggle from '../ThemeToggle/index.astro';
import NavList from '../NavList/index.astro';
import '@fontsource/roboto-slab';
import { SheetSide } from '@/components/SheetSide/index';
---

<header>
  <div class="absolute z-50 flex w-full justify-between p-4 md:px-6 lg:px-8">
    <div class="flex items-center gap-4 sm:gap-6 lg:gap-8">
      <a
        href="/"
        class="flex items-center text-2xl font-semibold lg:text-3xl"
        aria-label="ホームページ"
      >
        <span class="font-roboto-slab text-background">HaikuMonument API</span>
      </a>
      <NavList hideTop />
    </div>
    <div class="flex items-center gap-4 sm:gap-6 lg:gap-8">
      <ThemeToggle />
      <SheetSide client:load />
    </div>
  </div>
</header>
