---
import '@fontsource/roboto-slab';
import NavItem from '../NavItem/index.astro';
import { navItems } from '../NavList/index.astro';
---

<footer class="flex min-h-screen items-center border-t px-4 pt-6 pb-8">
  <div
    class="grid w-full grid-cols-1 py-6 md:flex md:grid-cols-2 md:items-center md:justify-between"
  >
    <section
      class="text-muted-foreground flex flex-col items-center justify-center text-center leading-loose md:items-start"
      aria-labelledby="footer-title"
    >
      <a
        href="/"
        aria-label="ホームページ"
        class="text-primary hover:text- hover:text-primary/75 mb-2.5 text-4xl font-normal"
      >
        <span class="font-roboto-slab">HaikuMonument API</span>
      </a>
      <p class="text-sm">句碑の情報を提供するAPI</p>
      <p class="block py-4 text-xs font-light">
        &copy; {new Date().getFullYear()}{' '}
        <a href="https://github.com/shikano35" target="_blank" rel="noreferrer">
          Shin Takemura
        </a>
      </p>
    </section>
    <nav aria-label="Footer Navigation">
      <ul
        class="mt-4 -ml-3 flex items-center justify-center gap-0.5 md:justify-end md:gap-2 lg:gap-4"
      >
        {
          navItems.map((item) => (
            <li>
              <NavItem title={item.title} label={item.label} href={item.href} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</footer>
