---
import HeadSEO from '../components/HeadSEO/index.astro';
import Header from '../components/Header/index.astro';
import Footer from '../components/Footer/index.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <body class="bg-background min-h-screen antialiased">
      <div class="relative flex min-h-screen flex-col">
        <Header />
        <main class="flex-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </body>
  </body>
</html>
