<div class="border-border flex w-full justify-end border-t pt-4">
  <p class="text-muted block text-xs font-light">
    &copy; {new Date().getFullYear()}{' '}
    <a href="https://github.com/shikano35" target="_blank" rel="noreferrer">
      Shin Takemura
    </a>
  </p>
</div>
