<div
  class="border-border flex w-full justify-end border-t pt-4 lg:justify-start lg:border-0"
>
  <p class="text-muted block text-xs font-light">
    &copy; {new Date().getFullYear()}{' '} HaikuMonument API. All rights reserved.
  </p>
</div>
